// Colors
$color__black: #000;
$color__white: #fff;
$color__grey: #888;

// Font Sizes
$font-size__huge: 10rem;
$font-size__xl: 6.5rem;
$font-size__lg: 4rem;
$font-size__md: 2.5rem;
$font-size__sm: 1.5rem;